
.breathing-circle-container {
    margin: 2rem auto;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .breathing-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, #81d4fa, #29b6f6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }